@charset "utf-8";



@font-face {
    font-family: 'android' ;
    src: url(../fontes/idroid.otf) format(opentype);
    font-weight: normal;


}

/*comentario na css
#c5ebd6
#83ee1ad
#3ddc84
#2fa866
#1a5c37
#063dle

*/

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#014920;

    --font-padrão: arial, verdana, helvetica, sans-serif;
    --font-destaque: 'bebas neue', cursive;
    --font-android: 'android', cursive;
}

body{
    background-color: #c5ebd6;
    font-family: var(--font-padrão);
}



header {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor4));
    min-height: 150px;
    text-align: center;
    padding-top: 30px;

}

header > h1 {
    color: rgb(253, 253, 253);
    font-family: var(--font-destaque);
    font-size: 3em;
    margin-bottom: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.658);
   

}

header > p {
    color: white;
    font-family: var(--font-padrão);
    font-size: 1.2em;
    max-width: 500px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.336);
}

nav {
    background-color: var(--cor4);
    padding: 10px;
    
}

nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 2s;

}

nav a:hover {
    background-color: var(--cor5);
    border-radius: 100%;
}


main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.281);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main  h1 {
    color: #1a5c37;
    font-family: var(--font-android);
     margin-top: 0px;
     margin-left: 10px;
     margin-right: 10px;
    
   
    
    
}

main h2 {
    font-family: var(--font-android);
    margin: 10px;
    background-image: linear-gradient(to right, var(--cor3), transparent);
}   

main h3 {
    margin: 30px;
}

main p {
    margin: 15px 10px;
    text-align: justify;
    text-indent: 20px;
    line-height: 1.4em ;
}



main img {
    width: 100%;
}

main img.pequeno{
    max-width: 300px;
    display: block;
    margin: auto;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
    background-color: var(--cor0);
}

main a {
    text-decoration: none;
    background-color: var(--cor3);
    color: rgb(0, 0, 0);
    font-weight: bolder;

}

main a:hover {
    background-color: var(--cor0);
    text-decoration: underline;

}

main a::after{
    content:'<';
}

main a::before {
    content: '>';

}

div.video {
    background-color: var(--cor5);
    margin: 0px -0.5px 0px -0.5px;
    padding: 20px;
    position: relative;
    padding-bottom: 60%;


}

div.video > iframe {
    position: absolute;
    top:5% ;
    left:5%;
    width:90% ;
    height: 90%;
}


aside {
    background-color: var(--cor1);
    padding-left: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.37);
}

aside > h3 {
    background-color: var(--cor3);
    margin-left: -10px;
    margin-right: -0.2px;
    border-radius: 10px 10px 0px 0px;
    color: white;
}

aside > ul {
    list-style-position: inside;
    columns: 2;
    padding: 10px;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 10px;
   
}


footer > p > a {
    color: white;
    font-weight: bold;
    text-decoration: none;
   
}

footer > p >a:hover {
    text-decoration: underline;
    
}

footer > p {
    display: inline-block;
   
}