@font-face {
    font-family: 'pangolin';
    src: url(../fonts/pangolin-regular.ttf) format(truetype);
}

@font-face {
    font-family: 'permanente';
    src: url(../fonts/PermanentMarker-Regular.ttf) format(truetype);
}

body{
    text-align: center;
    
    

       
    

}

header{
    font-family: 'pangolin';
    background-color: black;
    color: white;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -25px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding: 5px;
    
}

header > a {
    
    color:white;
    font-weight: 500;
    cursor: -webkit-grab;
    
}

header > a:hover {
    color: red;
    
}

p {
    font-family: 'pangolin';
     max-width: 45%;
    margin: auto;
    width: 210px;
    padding: 10px;

    
}

.font2{
    font-family: 'permanente';
    
}