@font-face {
    font-family: 'pangolin';
    src: url(../fonts/pangolin-regular.ttf) format(truetype);
}

@font-face {
    font-family: 'permanente';
    src: url(../fonts/PermanentMarker-Regular.ttf) format(truetype);
}

header{
    font-family: 'pangolin';
}

p {
    font-family: 'pangolin';
}

.font2{
    font-family: 'permanente';
    color: red;
}