      

*{

text-align: center;


}



p{

font-family:'minha';

}

h1{

background-color: blue;


}

.o:hover{

background-color;
text-align: left;

}

h1:visited{
color: pink;
}

  h1:active{
background-color: aqua;

  }